<!DOCTYPE html>
<html>
<head>
	<title>Adicionar Espécie</title>
	<link rel="stylesheet" type="text/css" href="static/add.css">
</head>
<body>
	<h2>Adicionar Espécie</h2>
	<form action="/adicionar_especie" method="POST">
		<label for="specie">Especie:</label>
		<input type="text" name="specie" id="specie" required><br>

		<label for="description">Descrição:</label>
		<input type="text" name="description" id="description" required><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
